* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', 'Inter', 'SF Pro Display', sans-serif;

}

h1 {
    color: white;
}

h2 {
    color: white;
}

body {
    background-color: #0d192a;
    height: 100vh;
    overflow-y: auto;
}

p {
    color: #b7bcc4;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.left-block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right-block{
    margin-bottom: 1rem;
}

.search-bar {
    background-color: #1c2939;
    color: #b7bcc4;
    margin: 1rem 0rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    gap: 0.5rem;
}

.search-bar i {
    margin: 0.5rem;
}

.search-bar button {
    background: none;
    border: none;
    color: #b7bcc4;
    cursor: pointer;
}

#search {
    background-color: #1c2939;
    color: #b7bcc4;
    border: none;
    width: 90%;
    border-radius: 1rem;
}

#search:focus {
    outline: none;
}

.main-top {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.main-top img {
    width: 35%;
    height: 100%;
}

.main-top-info {
    display: flex;
    flex-direction: column;
}

.main-top-info p {
    font-size: 0.8rem;
}

.main-top-info h2 {
    font-size: 4rem;
    width: fit-content;
    height: fit-content;
}

.forecast-mid {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    background-color: #1c2939;
    padding: 1rem;

    border-radius: 1rem;
}

.forecast-mid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.forecast-mid img {
    width: 2rem;
}

.forecast-mid h3 {
    color: white;
}

.mid-info {
    background-color: #1c2939;
    display: flex;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 1rem 0;
    align-items: center;
}

.mid-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wind {
    margin-right: 1rem;
}

.mid-info-div h3 {
    color: white;
}

.flex {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #b7bcc4;
    font-size: 1.2rem;
}

.bottom-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #1c2939;
    padding: 1rem;
    border-radius: 1rem;
}

.bottom-main h3 {
    font-size: 1rem;
}

.bottom-main img {
    width: 1.5rem;
    height: 1.5rem;
}

.bottom-main-info {
    display: flex;
    flex: 3;
    gap: 1rem;
    align-items: center;
}

.bottom-main-info-day {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.bottom-main-info-temp {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1rem;

}

.desktop {
    display: hidden;
}

.bottom-main-info-temp h3 {
    color: white;
}

.bottom-main-info-temp p {
    opacity: 0.8;
}

@media (min-width: 1025px) {
    main {
        flex-direction: row;
    }

    body {
        margin: 0;
        height: 100vh;
    }

    .main {
        flex: 5;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        margin: 1rem;

    }

    .left-block {
        flex: 3;
        min-width: 0;
        /* 🔥 indispensable pour que le contenu puisse déborder ou scroller */
        overflow: hidden;

    }

    .right-block {
        flex: 2;
        height: 100%;
    }

    .bottom-main {
        padding: 1rem 2rem;
    }

    .bottom-main img {
        width: 5rem;
        height: 5rem;
    }

    .bottom-main h3 {
        font-size: 1.2rem;
    }

    .bottom-main p {
        font-size: 1.2rem;
    }

    .forecast-mid {
        overflow-x: scroll;
    }

    .bottom-main-info {
        flex: 5;
    }

    .bottom-main-info-day {
        flex: 3;
    }

    .bottom-main-info-temp {
        flex: 2;
        justify-content: end;

    }

    .day {
        font-size: 1rem;
        color: #b7bcc4;
        font-weight: 600;
        opacity: 0.8;
    }

    #forecast-mid-info {
        gap: 1.5rem;
        font-size: 1rem;
    }

    #forecast-mid-info img {
        width: 3rem;
    }
}